[submodule "extern/json"]
        path = extern/json
        url = https://github.com/nlohmann/json.git
        branch = develop
        shallow = true
[submodule "extern/pybind11_json"]
        path = extern/pybind11_json
        url = https://github.com/pybind/pybind11_json.git
        branch = master
        shallow = true
[submodule "extern/googletest"]
        path = extern/googletest
        url = https://github.com/google/googletest.git
        branch = main
        shallow = true
[submodule "extern/boost/config"]
	path = extern/boost/config
	url = https://github.com/boostorg/config.git
	branch = develop
	shallow = true
[submodule "extern/boost/multiprecision"]
	path = extern/boost/multiprecision
	url = https://github.com/boostorg/multiprecision.git
	branch = develop
	shallow = true
