[submodule "extern/dd_package"]
	path = extern/dd_package
	url = git@github.com:iic-jku/dd_package.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = git@github.com:google/googletest.git
